@model DashBoardStatistic
@{
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor httpContextAccessor
    ViewData["Title"] = "Dashboard";
    string role = httpContextAccessor.HttpContext.Session.GetString("Role");
    if (!string.IsNullOrEmpty(role))
    {
        if (role.ToString() == "Admin")
        {
            Layout = "_Layout";
        }
        else if (role.ToString() == "Customer")
        {
            Layout = "_UserLayout";
        }
        else
        {
            Layout = "_LoginLayout";
        }
    }
    else
    {
        Layout = "_LoginLayout";
    }
}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Total Investments</p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><label class="form-label">@Html.DisplayFor(model => model.TotalInvestments)</label> (OMR) </h4>
                        <a href="" class="text-decoration-underline"><label class="form-label">@Html.DisplayFor(model => model.LastUpdated)</label></a>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Omanization Rate</p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><label class="form-label">@Html.DisplayFor(model => model.OmanizationRate)</label> (OMR) </h4>
                        <a href="" class="text-decoration-underline"><label class="form-label">@Html.DisplayFor(model => model.LastUpdated)</label></a>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Total Projects</p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><label class="form-label">@Html.DisplayFor(model => model.TotalProjects)</label> (OMR) </h4>
                        <a href="" class="text-decoration-underline"><label class="form-label">@Html.DisplayFor(model => model.LastUpdated)</label></a>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Total Labour</p>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                    <div>
                        <h4 class="fs-22 fw-semibold ff-secondary mb-4"><label class="form-label">@Html.DisplayFor(model => model.TotalLabour)</label> (OMR) </h4>
                        <a href="" class="text-decoration-underline"><label class="form-label">@Html.DisplayFor(model => model.LastUpdated)</label></a>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Total Projects</h4>
            </div>
            <div class="card-body">
                <div id="store-visits-source" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger", "--vz-info"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Total Investments</h4>
            </div>
            <div class="card-body">
                <div id="store-visits-source" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger", "--vz-info"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Total Labour</h4>
            </div>
            <div class="card-body">
                <div id="store-visits-source" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger", "--vz-info"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-height-100">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Investment Applications</h4>
            </div>
            <div class="card-body">
                <div id="store-visits-source" data-colors='["--vz-primary", "--vz-success", "--vz-warning", "--vz-danger", "--vz-info"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div>
</div>

